/* Simple centered card */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #47566e;
    background: linear-gradient(150deg, #70809b, #182c36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 22px 30px rgb(92, 40, 40);
    text-align: center;
    font-style: italic;
}

.sun{
    width:150px;
    height:150px;
    background:yellow;
    border-radius:50%;
    position:absolute;
    top:50px;
    left:50px;
    box-shadow: 0 0 50px 50px rgba(255, 223, 0, 0.5);
    z-index: 0 !important;
}

