body{
    background-color: rgb(105, 192, 183);
    box-sizing: border-box;
}
.hh{
    text-align: center;
    font-size: xx-large;
    box-sizing: content-box;
    border-radius: 2% black;
    background-color: white;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inp{
    width: 50%;
    background-color: rgb(243, 244, 246);
    
    border-radius: 0.375rem;
    border: 1px solid rgb(209, 213, 219);
    outline: none;
    color: rgb(55, 65, 81);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.btn{
    color: white;
    background-color: rgb(67, 56, 202);
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    outline: none;
    border-radius: 0.375rem;
    font-size: 1.125rem;
}
.frm{
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 60px;

}
.del{
    color: white;
    background-color: rgb(220, 38, 38);
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    outline: none;
    border-radius: 0.375rem;
    font-size: 1.125rem;
}
.edit{
    color: white;
    background-color: green;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    outline: none;
    border-radius: 0.375rem;
    font-size: 1.125rem;
}
.et{
    color: black;
    background-color: gray;
    border: 2px;
}
.todo-list{
    list-style: none;
    padding: 0;
    margin: 1rem 60px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 200, 224);
    padding: 0.75rem 1rem;
    text-align: center;
    font-size: x-large;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}